env
a_game_at_home/__pycache__/
a_game_at_home/__pycache__/__init__.cpython-38.pyc
a_game_at_home/__pycache__/settings.cpython-38.pyc
a_game_at_home/__pycache__/urls.cpython-38.pyc
a_game_at_home/__pycache__/wsgi.cpython-38.pyc
