# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\DEVPERSO\PYTHON\API_DRF\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
*.png
.idea MyProject/*.png
MyProject/db.sqlite3
.idea

env